<form action="/shop/cart" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit">Add to Wiselist</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>